.home-container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-gallery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-featured-title {
    width: 95%;
    background-color: var(--color4light);
    text-align: center;
    border: 3px solid var(--color4lighter);
    border-bottom: 0;
}