.wrapper {
    /* display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 10px;
    padding: 25px; */
    background-color: #fff;
    color: #444;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }