.preview-image-slider-container {
    min-height: 700px;
    width: 95%;
    background-color: var(--color4lightest);
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 3px solid var(--color4lighter);
    border-top: 1px solid var(--color4lighter);
}

.preview-last-slide {
    height: 606px;
    margin: 13px 0;
    padding: 0;
    background-color: white;
}

.preview-slider-div {
    min-width: 550px;
    height: 640px;
    margin: 13px 0;
    padding: 10px;
    background-color: var(--color4lighter);
    border: 3px solid var(--color2);
    position: relative;
    display: flex;
    justify-content: center;
}

.preview-slider-div > img {
    height: 600px;
}

.preview-slider-details {
    height: 90px;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color4lighter);
    z-index: 1;
    position: absolute;
}

.preview-slider-arrow {
    position: absolute;
    font-size: 40px;
    color: var(--color6);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.preview-left-arrow {
    height: 100%;
    left: 0;
    padding: 0 5px;
}

.preview-right-arrow {
    height: 100%;
    right: 0;
    padding: 0 5px;
}

.preview-slider-dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--color6);
    border: 1px solid var(--color6);
}

.preview-slider-dot {
    margin: 0px;
    cursor: pointer;
    font-size: 25px;
    color: var(--color1);
}

.preview-active-dot {
    color: var(--color5);
}