.preview-image-slider-container {
    height: 700px;
    width: 80%;
    position: relative;
    background-color: #EFE8DF;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: center;
    border-left: 1px solid var(--color6);
    border-right: 1px solid var(--color6);
}

.preview-slider-div {
    width: 500px;
    height: 640px;
    margin: 13px 0;
    background-position: center;
    background-size: cover;
}

.preview-slider-arrow {
    position: absolute;
    top: 50%;
    translate: (0, -50%);
    font-size: 55px;
    color: black;
    z-index: 1;
    cursor: pointer;
    background-color: blue;
}

.preview-left-arrow {
    left: 32px;
}

.preview-right-arrow {
    right: 32px;
}

.preview-slider-dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: var(--color6);
}

.preview-slider-dot {
    margin: 0px;
    cursor: pointer;
    font-size: 25px;
    color: var(--color1);
}